<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4c7df3db-9be4-4aac-b050-a05e8d7d3463/resourcegroups/CCBC/providers/Microsoft.Web/sites/BasketBallRegistration</ResourceId>
    <ResourceGroup>CCBC</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://basketballregistration.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>basketballregistration.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BasketBallRegistration</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>$BasketBallRegistration</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CascadersRegDB" Order="1" Enabled="False">
          <Destination Path="Data Source=ccbcsrv.database.windows.net;Initial Catalog=CascadersRegDB;Persist Security Info=True;User ID=Rory;Password=Evolve-1234" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BasketBallRegistration.Models.ApplicationDbContext, BasketBallRegistration" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CascadersRegDBConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=ccbcsrv.database.windows.net;Initial Catalog=CascadersRegDB;Persist Security Info=True;User ID=Rory;Password=Evolve-1234" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=CAILINNPC\SQLEXPRESS;Initial Catalog=CascadersRegDB;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CascadersRegDBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=CAILINNPC\SQLEXPRESS;Initial Catalog=CascadersRegDB;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=ccbcsrv.database.windows.net;Initial Catalog=CascadersRegDB;Persist Security Info=True;User ID=Rory;Password=Evolve-1234" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-BasketBallRegistration-20220808032752.mdf;Initial Catalog=aspnet-BasketBallRegistration-20220808032752;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-BasketBallRegistration-20220808032752.mdf;Initial Catalog=aspnet-BasketBallRegistration-20220808032752;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=ccbcsrv.database.windows.net;Initial Catalog=CascadersRegDB;Persist Security Info=True;User ID=Rory;Password=Evolve-1234</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CascadersRegDBConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=ccbcsrv.database.windows.net;Initial Catalog=CascadersRegDB;Persist Security Info=True;User ID=Rory;Password=Evolve-1234</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CascadersRegDB-Web.config Connection String">
      <ParameterValue>Data Source=ccbcsrv.database.windows.net;Initial Catalog=CascadersRegDB;Persist Security Info=True;User ID=Rory;Password=Evolve-1234</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="CascadersRegDB" />
  </ItemGroup>
</Project>